<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TouchPadHandwriting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <TouchPadHandwriting.Properties.Settings>
            <setting name="InkRecognizerGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="RecognitionTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ToggleKey" serializeAs="String">
                <value>LControlKey</value>
            </setting>
            <setting name="StrokesColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="StrokeWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="AutoInsertionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </TouchPadHandwriting.Properties.Settings>
    </userSettings>
</configuration>
